<% orderItem.forEach(element =>{ %>
    
    <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Detail Order Item: <%= element.id  %></h1>
  
           
    </div>

    <div class="col py-3">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/order-item">Order Item</a></li>
                      <li class="breadcrumb-item active"><%= element.id  %></li>
                    </ol>
                  </nav>
            </div>
            <div class="col text-end fw-lighter">
                <b>Last Updated <%= new Date(element.updatedAt).toUTCString() %></b>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Id:</b></div>
                <div class="col"><%= element.id  %></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Order Id:</b></div>
                <div class="col"><%= element.order.id  %></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Product:</b></div>
                <div class="col"><%= element.product.name  %></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Quantity:</b></div>
                <div class="col"><%= element.quantity  %></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>Unit Price:</b></div>
                <div class="col"><%= element.unitPrice  %></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>CreatedAt:</b></div>
                <div class="col"><%= new Date(element.createdAt).toUTCString()  %></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px;"><b>updatedAt:</b></div>
                <div class="col"><%= new Date(element.updatedAt).toUTCString()  %></div>
            </div>
        </li>

    </ul>

    

        
<% }) %>